# Task 1 - Read and work through Chapter 9 "Files & Exceptions"
    NOTEBOOK: task_01.ipynb
    NAME: Kristen Finley
    DATE: 14Feb2023

## Understand the examples.

### 9.3.1 Writing to a Text File: Introducing the with Statement

In [46]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

### 9.3.2 Reading Data from a Text File

In [47]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

### 9.4 Updating Text Files

In [48]:
accounts = open('accounts.txt', 'r')
temp_file = open('temp_file.txt', 'w')
with accounts, temp_file:
    for record in accounts:  
        account, name, balance = record.split() 
        if account != '300':
            temp_file.write(record)  
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n') 
import os
os.remove('accounts.txt')
os.rename('temp_file.txt', 'accounts.txt')

### 9.5 Serialization with JSON

In [49]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},  
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]} 
import json
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

In [50]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [51]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [52]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [53]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [54]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}